<!-- Author		: Mitu Roy
<!-- Date		: 16/10/2017 
<!-- Version	: 2.0
<!-- Description: Code is for Buy a metal water bottle and use it / stop buying plastic water bottles
<!-- Updated : Edited 17/11/2017 after reviewing by the reference of CR-008,CR-009,CR-0010,CR-0011
-->
<!-- default code here-->
{% include "breadcrumbs" %}
{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}
<div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>
  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

 {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
 {% endif %}

<!-- my code here
-->
<!--put buy now buttons here for iOS and Android-->
<br><br>
  <html>
 <table border ="0">
	<tr>
    <td>
      This is just a dummy text. Write something about this activity here. 
      This is just a dummy text. Write something about this activity here. 
      This is just a dummy text. Write something about this activity here. 
      This is just a dummy text. Write something about this activity here. 
      This is just a dummy text. Write something about this activity here. 
      This is just a dummy text. Write something about this activity here. 
      This is just a dummy text. Write something about this activity here. 
    </td>
    <td width="30"></td>
	<!-- <td>
	<body onload="initMap()">
    
           <div id = "sample" style =  "width:350px; height:350px" align ="right"></div>
    
       <div align="right">
 
             </div>
   
     <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM_PmnCteE8zOJSYWCC5sB8wfLQfey4cA&callback=initMap"
     type="text/javascript"></script> 
      
      <script>
         function initMap() {
			
            var mapOptions =
            {
               center:new google.maps.LatLng(-35.28204,149.12858), zoom:12,
               mapTypeId:google.maps.MapTypeId.ROADMAP
            
            }
				
            var map = new google.maps.Map(document.getElementById("sample"),mapOptions);
           
         }
      </script> 
  </body> 
    </td> -->
    </tr>
   </table>
<h1 style="text-align:center;">
<div class="app-description">
	<!-- <font size= "6" color="green" align="middle">BUY NOW! </font>  -->
</div>
  <a  href="http://www.biome.com.au/221-water-bottle" 
		target="store/apps/details?id=com.cleanbit.joulebug.pbj.bostonu">
		<img src="buynowbutton.png" width="150" height="150" border="0" hspace="25">
	</a>
</h1>  
  
<br><br>
  <html>
  <table> 
	<td> 
       If you want to calculate your carbon emission please click on this icon
	 </td>
    
  </table>
<img   src="carbondioxide.png" width="50" height="60" border="1" hspace="35"  align="left">
</html>
</div>
  
  
  
 