<!-- Author		:Kavita khakhar
<!-- Date		: 16/10/2017 
<!-- Version	: 1.0
<!-- this is the activity page name adp_draught_proof_house
     
-->
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

 <!-- end of default code -->
 <!-- start of activity details here -->
<html>
   <table border ="0">
	<tr>
    <td>
      This is just a dummy text. Write something about activity. 
      This is just a dummy text. Write something about activity . 
      This is just a dummy text. Write something about activity. 
      This is just a dummy text. Write something about activity . 
      This is just a dummy text. Write something about activity 
      This is just a dummy text. Write something about activity . 
      This is just a dummy text. Write something aboutactivity . 
    </td>
    <td width="30"></td>
	<td>
	<body onload="initMap()">
    
    <div id = "sample" style =  "width:350px; height:350px" align ="right"></div>
    
     <div align="right"> </div>
 
            
    
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM_PmnCteE8zOJSYWCC5sB8wfLQfey4cA&callback=initMap"
    type="text/javascript"></script>  
    
	 <div id="map"></div>
    <script>

      function initMap() 
	  {
        var myLatLng = {lat: -35.2102211, lng: 149.13659180000002};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    
      </script>
    
  </body> 
    </td> </tr>
   
   </table>
  <center>
		<a href="https://www.bunnings.com.au/diy-advice/home-improvement/heating-and-cooling/how-to-winterproof-your-home" 
	target="store/apps/details?id=com.cleanbit.joulebug.pbj.bostonu" >
	
		<img src="buynowbutton.png" width="200" height="200" border="0" hspace="25"></a>
	
		<a href="https://theneighbourhoodeffect.nationbuilder.com/schedule_now" target="schedule_now">
		<img src="schedulenowbutton.png" width="150" height="150" border="0" hspace="25"></a>
		
		 </center>
		 <br><br>
  <table> 
     <td>   If you want to calculate your carbon emission please click on this icon</td>
   </table>
    <img   src="carbondioxide.png" width="50" height="60" border="1" hspace="35"  align="left">
		 
 </html>

</div>