<!-- Author		: Mitu Roy
<!-- Date		: 16/10/2017 
<!-- Version	: 2.0
<!-- Description: This is the code for Switch to 100% recycled, unbleached toilet paper delivered to your door.
<!-- Updated : 17/11/2017 . Edited after review by the reference no of CR-016,CR-017,CR-018,CR-019. -->
<!-- default code here-->
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}
<!-- my code here-->
<br><br>
  <html>
  <table border ="0">
	<tr>
    <td>
     Write something about this activity here. 
     Write something about this activity here. 
     Write something about this activity here. 
     Write something about this activity here. 
     Write something about this activity here. 
     Write something about this activity here. 
     Write something about this activity here. 
    </td>
    <td width="30"></td>
	<td>
     <!-- Start of google map code -->
<div id = "map" style =  "width:350px; height:350px" align ="right"></div>
    <div align="right"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM_PmnCteE8zOJSYWCC5sB8wfLQfey4cA&callback=initMap"
     type="text/javascript"></script> 
    <script>

		function initMap() {
      var myCenter = new google.maps.LatLng(-37.817863,144.955453);
      var mapCanvas = document.getElementById("map");
      var mapOptions = {center: myCenter, zoom: 17};
      var map = new google.maps.Map(mapCanvas, mapOptions);
      var marker = new google.maps.Marker({position:myCenter});
      marker.setMap(map);
		}
</script>

    <!-- end google map code -->
	<!--<body onload="initMap()">
    
           <div id = "sample" style =  "width:350px; height:350px" align ="right"></div>
    
       <div align="right">
 
       </div>
   
     <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM_PmnCteE8zOJSYWCC5sB8wfLQfey4cA&callback=initMap"
     type="text/javascript"></script> 
      
      <script>
         function initMap() {
			
            var mapOptions =
            {
               center:new google.maps.LatLng(-37.817863,144.955453), zoom:12,
               mapTypeId:google.maps.MapTypeId.ROADMAP
            
            }
				
            var map = new google.maps.Map(document.getElementById("sample"),mapOptions);
           
         }
      </script> -->
  </body> 
    </td>
    </tr>
   </table>

<h1 style="text-align:center;">
<div class="app-description">
</div>

<p>
	<a  href="https://au.whogivesacrap.org/collections/all" 
		target="store/apps/details?id=com.cleanbit.joulebug.pbj.bostonu">
		<img src="buynowbutton.png" width="150" height="150" border="0" hspace="25">
	</a>
</p> 
</h1> 
    <br><br>
<html>
  <table> 
	
    <td> 
       If you want to calculate your carbon emission please click on this icon
	 
    </td>
    
   </table>
<img   src="carbondioxide.png" width="50" height="60" border="1" hspace="35"  align="left">
  
</html>
</div>  