<!-- Author		: Mitu Roy
<!-- Date		: 18/10/2017 
<!-- Version	: 1.0
<!-- Description: This is the code for Learn to make your own cleaning products.
<!-- Updated : 17/11/2017 , Edited after reviewing by the reference no of CR-040,CR-041,CR-042,CR-043.
-->
<!-- default code here-->
{% include "breadcrumbs" %}
{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}
<!-- my code here-->
<br><br>
<h1 style="text-align:center;">
<div class="app-description">
	 <font size= "2" color="green" align="top"> Thanks for visiting us and interest you are showing on the neighbourhood effect. 
	 If you want to schedule for learning to make your own clean products  please visit 
	 <a href="http://www.theneighbourhoodeffect.com.au/schedule_now" 
		target=" http://www.theneighbourhoodeffect.com.au/schedule_now "> 
      <img src="schedulenowbutton.png" width="150" height="150" border="0" hspace="25">
     </a>
	 </font>  
</div>
</h1> 
  <br><br>
  <html>
  <table> 
	<td> 
       If you want to calculate your carbon emission please click on this icon
	</td>
  </table>
<img   src="carbondioxide.png" width="50" height="60" border="1" hspace="35"  align="left">
</html>
</div>
  