<!-- Author		: Mitu Roy
<!-- Date		: 18/10/2017 
<!-- Version	: 2.0
<!-- Description: This is the code for one week try to create zero waste, by only buying unpackaged  items.
<!-- Updated : 17/11/2017 , Edited after reviewing by the reference no of CR-028,CR-029,CR-030,CR-031. -->
<!-- default code here
-->
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

<!-- my code here -->
<br><br>
<h1 style="text-align:center;">
<div class="app-description">
	 <font size= "2" color="green" align="top"> Thanks for visiting us and interest you are showing on the neighbourhood effect. 
	 If you want to schedule for one week try to create zero waste, by only buying only unpackaged items please visit 
	 <a href="http://www.theneighbourhoodeffect.com.au/schedule_now" 
		target=" http://www.theneighbourhoodeffect.com.au/schedule_now "> 
         <img src="schedulenowbutton.png" width="150" height="150" border="0" hspace="25">		
		 </a>
	 </font>  
</div>
</h1> 
</div> 
  
  
