<!-- Author		:Kavita khakhar
<!-- Date		: 16/10/2017 
<!-- Version	: 1.0
<!-- this is the activity page name adp_buy_greenpower
-->

<!-- start default code --> 
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}
<!-- end of default code -->
<!-- start of activity details here adp_buy_greenpower-->

  <html>
   <table border ="0">
	<tr>
    <td>
     Write something about this activity here. 
     Write something about this activity here. 
     Write something about this activity here. 
     Write something about this activity here. 
     Write something about this activity here. 
     Write something about this activity here. 
     Write something about this activity here. 
    </td>
	<td>
	<body onload="initMap()">
    
           <div id = "sample" style =  "width:250px; height:250px" align ="right"></div>
    
       <div align="right">
 
             </div>
   
      <script src = "https://maps.googleapis.com/maps/api/js"> </script>
      
      <script>
         function initMap() {
			
            var mapOptions =
            {
               center:new google.maps.LatLng(-35.277762, 149.131155), zoom:12,
               mapTypeId:google.maps.MapTypeId.ROADMAP
            
            }
				
            var map = new google.maps.Map(document.getElementById("sample"),mapOptions);
           
         }
      </script> 
  </body> 
    </td>
    </tr>
   </table>
	<a href="http://www.actewagl.com.au/greenchoice/" 
	target="store/apps/details?id=com.cleanbit.joulebug.pbj.bostonu">
		<img src="buynow.png" width="150" height="150" border="0" hspace="25">
		</a>
		 </html>

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>