<!-- Author		: Mitu Roy
<!-- Date		: 18/10/2017 
<!-- Version	: 2.0
<!-- Description: This is the code for Buy second-hand clothing and accessories, or, if you have to buy new, buy ethical brands.
<!-- Updated : 17/11/2017 , Edited after reviewing by the reference no of CR-020,CR-021,CR-022,CR-023.  -->
<!-- default code here-->

{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}
<div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>
 {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

<!-- my code here-->
<br><br>
  <html>
<h1 style="text-align:center;">
<div class="app-description">
</div>

<p>
	<h1 style="text-align:center;">
<div class="app-description">
	 <font size= "2" color="green" align="top"> Thanks for visiting us and interest you are showing on the neighbourhood effect. If you want to buy any of our product please   <a href="https://itunes.apple.com/au/app/good-on-you-ethical-fashion-app/id1044017998?mt=8" 
		target="store/apps/details?id=com.cleanbit.joulebug.pbj.bostonu"> 
					sign up </a>
	 </font>  
</div>
</p>
     </h1>  
<br><br>
  <html>
  <table> 
   <td> 
       If you want to calculate your carbon emission please click on this icon
   </td>
  </table>
<img   src="carbondioxide.png" width="50" height="60" border="1" hspace="35"  align="left">
</html>
</div>
  