<!-- Author		:Kavita khakhar
<!-- Date		: 16/10/2017 
<!-- Version	: 1.0
<!-- this is the activity page name adp_prepare__vegan
-->
<!-- start default code --> 
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

  <div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
   </div>
  </div>

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}
<!-- end of default code -->
<!-- start of activity details here --adp_prepare__vegan-->

 <html>
   
      This is just a dummy text. Write something about activity. 
      This is just a dummy text. Write something about activity . 
      This is just a dummy text. Write something about activity. 
      This is just a dummy text. Write something about activity . 
      This is just a dummy text. Write something about activity 
      This is just a dummy text. Write something about activity . 
      This is just a dummy text. Write something aboutactivity .
	  
	 <center>
	<a href="https://theneighbourhoodeffect.nationbuilder.com/schedule_now" target="schedule_now">
		<img src="schedulenowbutton.png" width="150" height="150" border="0" hspace="25"></a>
	 </center>	  
  <br><br>
		
   <table> 
     <td>   If you want to calculate your carbon emission please click on this icon</td>
   </table>
      <img   src="carbondioxide.png" width="50" height="60" border="1" hspace="35"  align="left">
		

 </html>

</div>