<!-- Author		: Mitu Roy
<!-- Date		: 16/10/2017  updated : 25/10/2017
<!-- Version	: 2.0
<!-- Description: This is the  activity details page for  "Buy a KeepCup".
<!-- Edited : 15/11/2017 . According to the review reference of  CR-001. 
-->
<!-- default code here-->

{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

<!-- my code here-->
<!--put buy now buttons here for iOS and Android-->
<br><br>
  <html>
  <table border ="0">
	<tr>
  	<td>
    Buy a keep-cup / stop using takeaway coffee cups:

	Half of the plastic produced globally goes into products that are used only once4, which creates a staggering amount of waste. This is one reason why we don’t use disposable cups at home. Why then, do we have a throwaway culture elsewhere?

	With 500 billion disposable cups produced every year, inconvenience is no longer an acceptable reason. Reuse or refrain.

	The breakeven is 15 uses. People are often concerned about the environmental cost of washing compared to a disposable cup. After those 15 coffees you start saving water, trees and energy.

	In other words, if you use a KeepCup instead of disposable cups, after your 15th coffee, you’re helping save the planet.

	Because most disposable cups are lined with plastic, they cannot be recycled. We estimate that every minute over one million disposables end up in landfill.1

	KeepCups are recyclable. In Australia you can put the separated components in household recycling at the end of life. 
  	</td>
    <td width="30"></td>
	<td>
     <!-- Start of google map code -->
<div id = "map" style =  "width:350px; height:350px" align ="right"></div>
    <div align="right"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM_PmnCteE8zOJSYWCC5sB8wfLQfey4cA&callback=initMap"
     type="text/javascript">
    </script>  
    <script>

		function initMap() {
      var myCenter = new google.maps.LatLng( -37.79485086, 144.98019376);
      var mapCanvas = document.getElementById("map");
      var mapOptions = {center: myCenter, zoom: 18};
      var map = new google.maps.Map(mapCanvas, mapOptions);
      var marker = new google.maps.Marker({position:myCenter});
      marker.setMap(map);
		}
</script>

   
  	</body> 
    </td>
	</tr>
  </table>
<h1 style="text-align:center;">
<div class="app-description">
	<!-- <font size= "6" color="green" align="middle">BUY NOW! </font>  -->
</div>
<br><br>
<center>
	<a  href="https://au.keepcup.com/?country=Australia#modal" 
		target="store/apps/details?id=com.cleanbit.joulebug.pbj.bostonu">
		<img src="buynowbutton.png" width="150" height="150" border="0" hspace="25"> </a>
</center>
<br><br>    
</h1>  
<br><br>
<html>
	<table>
    <tr>To calculate your carbon dioxide emission, click on the icon below:</tr>
	</table>
<img src="carbondioxide.png" width="50" height="60" border="1" hspace="35"  align="left"></tr>  
</html>
</div> 
  
  