<!-- Author		: Jacqueline Javier
<!-- Date		: 20/10/2017 
<!-- Version	: 2.0
<!-- Description: This is the list activities for the "Challenge" difficulty category.
<!-- Revisions	: 15/11/2017 - Edited based on code review defect ID CR-220 - Fix spaces and tabs.
-->
<!-- start default code -->
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
	<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
	<div id="intro" class="intro">
		<div class="text-content">
			{{ page.basic.content }}
		</div>
	</div>

	{% if page.tags_count > 0 %}
		<div class="page-tags">
			{% include "page_tags" with page %}
		</div>
	{% endif %}

	{% if page.is_homepage? == true and site.page_tags contains "homepage" %}
		{% tag "homepage" with "homepage_widget" %}
	{% endif %}
  
	<!-- start of challenge category list of activities -->
	<html>
		<ul id="myUL" >
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_ethical_brands" target="adp_buy_ethical_brands">
				Buy second-hand clothing and accessories, or, if you have to buy new, buy ethical brands </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_only_unpackaged_items" target="adp_buy_only_unpackaged_items">
				For one week try to create zero waste, by only buying unpackaged  items </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_nothing" target="adp_buy_nothing">
				Try to buy nothing new for one month, apart from essentials </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_make_own_cleaning_prod" target="adp_make_own_cleaning_prod">
				Learn to make your own cleaning products </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_use_led" target="adp_use_led">
				Replace the lights in your house with LED bulbs </a>
			</li>
	</html>
	<!-- end of challenge category list of activities -->
 
	{% if page.show_stream? %}
	{% include "page_stream" %}
	{% endif %}
</div>