<!-- Author		: Jacqueline Javier
<!-- Date		: 18/10/2017 
<!-- Version	: 2.0
<!-- Description: This is the list activities for the "Easy" difficulty category.
<!-- Revisions	: 15/11/2017 - Edited based on code review defect ID CR-220 - Fix spaces and tabs.
-->
<!-- start default code -->
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
	<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
	<div id="intro" class="intro">
		<div class="text-content">
			{{ page.basic.content }}
		</div>
	</div>

	{% if page.tags_count > 0 %}
		<div class="page-tags">
			{% include "page_tags" with page %}
		</div>
	{% endif %}

	{% if page.is_homepage? == true and site.page_tags contains "homepage" %}
		{% tag "homepage" with "homepage_widget" %}
	{% endif %}
  
	<!-- start of easy category list of activities -->
	<html>
		<ul id="myUL" >
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_reusable_beeswax" target="adp_buy_reusable_beeswax">
				Buy reusable beeswax wraps to replace clingwrap </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_recycled_toiletpaper" target="adp_buy_recycled_toiletpaper">
				Switch to 100% recycled, unbleached toilet paper delivered to your door </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_metal_water_bottles" target="adp_buy_metal_water_bottles">
				Buy a metal water bottle and use it / stop buying plastic water bottles </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_greenpower" target="adp_buy_greenpower">
				Buy GreenPower to offset your electricity emissions and support renewables </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_local_foods" target="adp_buy_local_foods">
				Buy local, seasonal foods from farmers markets </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_cold_setting_wash" target="adp_cold_setting_wash">
				Use the 'cold setting' on your washing machine and only wash full loads </a>
			</li>
		</ul>      
	</html>
	<!-- end of convenience list of activities -->
	  
	{% if page.show_stream? %}
	{% include "page_stream" %}
	{% endif %}
</div>