<!-- Author		: Jacqueline Javier
<!-- Date		: 16/10/2017 
<!-- Version	: 2.0
<!-- Description: This is the list activities for "Energy" category.
<!-- Revisions	: 15/11/2017 - Edited based on code review defect ID CR-220 - Fix spaces and tabs.
-->
<!-- start default code -->
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
	<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
	<div id="intro" class="intro">
		<div class="text-content">
			{{ page.basic.content }}
		</div>
	</div>

	{% if page.tags_count > 0 %}
		<div class="page-tags">
			{% include "page_tags" with page %}
		</div>
	{% endif %}

	{% if page.is_homepage? == true and site.page_tags contains "homepage" %}
		{% tag "homepage" with "homepage_widget" %}
	{% endif %}
<!-- end default code -->

	<!-- start of energy list of activities -->
	<html>
		<ul id="myUL" >
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_use_nat_heat_cool" target="adp_use_nat_heat_cool">
				Use natural heating and cooling, by opening and closing your windows and curtains at the right time </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_stop_use_dryer" target="adp_stop_use_dryer">
				Hang your clothes and bedding out to air dry / stop using the dryer</a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_use_led" target="adp_use_led">
				Replace the lights in your house with LED bulbs </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_greenpower" target="adp_buy_greenpower">
				Buy GreenPower to offset your electricity emissions and support renewables </a>
			</li>	
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_draught_proof_house" target="adp_draught_proof_house">
				Draught-proof your house by applying sealing rubber strips around doors and windows </a>
			</li>
		</ul>      
	</html>
	<!-- end of energy list of activities -->

	{% if page.show_stream? %}
	{% include "page_stream" %}
	{% endif %}
</div>