<!-- Author		: Jacqueline Javier
<!-- Date		: 16/10/2017 
<!-- Version	: 2.0
<!-- Description: This is the list activities for "Financial Saving" category
<!-- Revisions	: 15/11/2017 - Edited based on code review defect ID CR-220.
					           Fixed spaces and tabs.
							   Fixed based on Integration Testing Test script defect ID ITTS-001
-->
<!-- start default code -->
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
	<div id="intro" class="intro">
		<div class="text-content">
		{{ page.basic.content }}
		</div>
	</div>

	{% if page.tags_count > 0 %}
	<div class="page-tags">
		{% include "page_tags" with page %}
	</div>
	{% endif %}

	{% if page.is_homepage? == true and site.page_tags contains "homepage" %}
		{% tag "homepage" with "homepage_widget" %}
	{% endif %}
<!-- start of financial saving list of activities -->
	<html>
		<ul id="myUL" >
			<!-- commented out based on defect ID ITTS-001
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_keep_cup" target="adp_buy_keep_cup">
				Buy a keep-cup / stop using takeaway coffee cups </a>
			</li>
			-->
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_metal_water_bottles" target="adp_buy_metal_water_bottles">
				Buy a metal water bottle and use it / stop buying plastic water bottles </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_reusable_beeswax" target="adp_buy_reusable_beeswax">
				Buy reusable beeswax wraps to replace clingwrap </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_recycled_toiletpaper" target="adp_buy_recycled_toiletpaper">
				Switch to 100% recycled, unbleached toilet paper delivered to your door </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_ethical_brands" target="adp_buy_ethical_brands">
				Buy second-hand clothing and accessories, or, if you have to buy new, buy ethical brands </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_get_freeorsecondhand_furniture" target="adp_get_freeorsecondhand_furniture">
				Get furniture and household items for free or second-hand </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_only_unpackaged_items" target="adp_buy_only_unpackaged_items">
				For one week try to create zero waste, by only buying unpackaged items </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_nothing" target="adp_buy_nothing">
				Try to buy nothing new for one month, apart from essentials </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_learn_fixing_things" target="adp_learn_fixing_things">
				Attend a workshop to learn how to fix things </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_make_own_cleaning_prod" target="adp_make_own_cleaning_prod">
				Learn to make your own cleaning products </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_use_nat_heat_cool" target="adp_use_nat_heat_cool">
				Use natural heating and cooling, by opening and closing your windows and curtains at the right time </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_stop_use_dryer" target="adp_stop_use_dryer">
				Hang your clothes and bedding out to air dry / stop using the dryer </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_use_led" target="adp_use_led">
				Replace the lights in your house with LED bulbs </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_draught_proof_house" target="adp_draught_proof_house">
				Draught-proof your house by applying sealing rubber strips around doors and windows </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_grow_herbgarden" target="adp_grow_herb_garden">
				Grow a herb garden </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_cycle_jog_walk" target="adp_cycle_jog_walk">
				Cycle, jog or walk to work a day or two each week </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_cold_setting_wash" target="adp_cold_setting_wash">
				Use the 'cold setting' on your washing machine and only wash full loads </a>
			</li>
		</ul>      
	</html>
	<!-- end of financial saving list of activities -->

	{% if page.show_stream? %}
	{% include "page_stream" %}
	{% endif %}
</div>