<!-- Author		: Jacqueline Javier
<!-- Date		: 16/10/2017 
<!-- Version	: 2.0
<!-- Description: This is the list activities for "Food" category
<!-- Revisions	: 15/11/2017 - Edited based on code review defect ID CR-220 - Fix spaces and tabs.
-->
<!-- start default code -->
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
	<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
	<div id="intro" class="intro">
		<div class="text-content">
			{{ page.basic.content }}
		</div>
	</div>

	{% if page.tags_count > 0 %}
	<div class="page-tags">
		{% include "page_tags" with page %}
	</div>
	{% endif %}

	{% if page.is_homepage? == true and site.page_tags contains "homepage" %}
		{% tag "homepage" with "homepage_widget" %}
	{% endif %}
<!-- end default code -->

	<!-- start of food list of activities -->
	<html>
		<ul id="myUL" >
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_local_foods" target="adp_buy_local_foods">
				Buy local, seasonal foods from farmers markets </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_cutdown_meat_eat" target="adp_cutdown_meat_eat">
				Cut down the amount of meat you eat (to WHO recommended daily intake of 90 grams)</a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_prepare_vegan" target="adp_prepare_vegan">
				Prepare a vegan meal </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_compost_foodwaste" target="adp_compost_foodwaste">
				Set up an indoor or outdoor compost for your food waste  </a>
			</li>	
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_grow_herbgarden" target="adp_grow_herbgarden">
				Grow a herb garden </a>
			</li>
		</ul>      
	</html>
	<!-- end of food list of activities -->  

	{% if page.show_stream? %}
	{% include "page_stream" %}
	{% endif %}
</div>


