<!-- Author		: Jacqueline Javier
<!-- Date		: 16/10/2017 
<!-- Version	: 2.0
<!-- Description: This is the list activities for "Product Switch" category.
<!-- Revisions	: 15/11/2017 - Edited based on code review defect ID CR-220 - Fix spaces and tabs.
-->
<!-- start default code -->
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
	<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
	<div id="intro" class="intro">
		<div class="text-content">
			{{ page.basic.content }}
		</div>
	</div>

	{% if page.tags_count > 0 %}
		<div class="page-tags">
			{% include "page_tags" with page %}
	</div>
	{% endif %}

	{% if page.is_homepage? == true and site.page_tags contains "homepage" %}
		{% tag "homepage" with "homepage_widget" %}
	{% endif %}
  
	<!-- start of product switch list of activities -->
	<html>
		<ul id="myUL" >
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_keep_cup" target="adp_buy_keep_cup">
				Buy a keep-cup/stop using takeaway coffee cups </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_metal_water_bottles" target="adp_buy_metal_water_bottles">
				Buy a metal water bottle and use it / stop buying plastic water bottles </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_reusable_beeswax" target="adp_buy_reusable_beeswax">
				Buy reusable beeswax wraps to replace clingwrap</a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_recycled_toiletpaper" target="adp_buy_recycled_toiletpaper">
				Switch to 100% recycled, unbleached toilet paper delivered to your door </a>
			</li>	
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_ethical_brands" target="adp_buy_ethical_brands">
				Buy second-hand clothing and accessories, or, if you have to buy new, buy ethical brands</a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_get_freeorsecondhand_furniture" target="adp_get_freeorsecondhand_furniture">
				Get furniture and household items for free or second-hand </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_use_led" target="adp_use_led">
				Replace the lights in your house with LED bulbs </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_local_foods" target="adp_buy_local_foods">
				Buy local, seasonal foods from farmers markets </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_compost_foodwaste" target="adp_compost_foodwaste">
				Set up an indoor or outdoor compost for your food waste  </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_grow_herbgarden" target="adp_grow_herbgarden">
				Grow a herb garden  </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_limit_fly_amount" target="adp_limit_fly_amount">
				Try to limit the amount you fly; if you do, offset your flight's carbon </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_buy_3star_rated" target="adp_buy_3star_rated">
				Buy a 3-star rated water efficient showerhead </a>
			</li>
		</ul>      
	</html>
	<!-- end of product switch list of activities -->
  
	{% if page.show_stream? %}
	{% include "page_stream" %}
	{% endif %}
</div>