<!-- Author		: Mitu Roy
<!-- Date		: 16/10/2017 Updated 25/10/2017
<!-- Version	: 1.0
<!-- Description: This is the list activities for "Transport" category
-->



<!-- default code here
-->

{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

<!-- my code here
-->

<!--put buy now buttons here for iOS and Android-->
<br><br>

<h1 style="text-align:center;">
<div class="app-description">
	 <font size= "2" color="green" align="top"> Thanks for visiting us and interest you are showing on the neighbourhood effect. If you want to schedule any of our activities please <a href="http://www.theneighbourhoodeffect.com.au/web_application_page" 
		target="web_application_page"> 
					Download theneighbourhoodeffect app</a>
	 </font>  
</div>


</h1> 
  <br><br>
  <html>
  <table  > 
	
    <td> 
       If you want to calculate your carbon emission please click on this icon
	 
    </td>
    
   </table>
<img   src="carbondioxide.png" width="50" height="60" border="1" hspace="35"  align="left">
  
  
 </html>
 
  
  

  
  