<!-- Author		: Jacqueline Javier
<!-- Date		: 16/10/2017 
<!-- Version	: 2.0
<!-- Description: This is the list activities for "Transport" category.
<!-- Revisions	: 15/11/2017 - Edited based on code review defect ID CR-220 - Fix spaces and tabs.
-->
<!-- start default code -->
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
	<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
	<div id="intro" class="intro">
		<div class="text-content">
			{{ page.basic.content }}
		</div>
	</div>

	{% if page.tags_count > 0 %}
		<div class="page-tags">
			{% include "page_tags" with page %}
		</div>
	{% endif %}

	{% if page.is_homepage? == true and site.page_tags contains "homepage" %}
		{% tag "homepage" with "homepage_widget" %}
	{% endif %}
<!-- end default code -->

	<!-- start of transport list of activities -->
	<html>
		<ul id="myUL" >
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_limit_fly_amount" target="adp_limit_fly_amount">
				Try to limit the amount you fly; if you do, offset your flight's carbon </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_cycle_jog_walk" target="adp_cycle_jog_walk">
				Cycle, jog or walk to work a day or two each week </a>
			</li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/adp_20mins_dest_walk" target="adp_20mins_dest_walk">
				For a destination that’s a 20-minute walk or less - walk there instead of driving</a>
			</li>
		</ul>      
	</html>
	<!-- end of transport list of activities -->  

	{% if page.show_stream? %}
	{% include "page_stream" %}
	{% endif %}
</div>


