<!-- Author		: 	Jacqueline Javier
<!-- Date		: 	16/10/2017 
<!-- Version	: 	2.0
<!-- Description: 	This is the main application product page in the web that includes the following:
						1. This displays the app features with sliding and static infographics display. 
						2. Download buttons for iOS and Android redirecting to App Store and Google Play sites.
						3. Hyperlinked list of categories for suggested activities. These links redirects to
						   another page that lists all activities under the category.
<!-- Revisions	: 	15/11/2017 - Edited based on code review defect ID CR-220 - Fix spaces and tabs.
								 Removed the search tab bar code and replace with activities texts.
								 Changed target name to skill_acquisition based on defect code TNE-WAP-001.
-->
<!-- start default code -->
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
	<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
<div id="intro" class="intro">
	<div class="text-content">
		{{ page.basic.content }}
	</div>
</div>
  
{% if page.slug == "search" % }
{% include "search" %}
{% endif%}

{% if page.tags_count > 0 %}
	<div class="page-tags">
		{% include "page_tags" with page %}
	</div>
{% endif %}

{% if page.is_homepage? == true and site.page_tags contains "homepage" %}
{% tag "homepage" with "homepage_widget" %}
{% endif %}
<!-- end default code -->

<!-- start customised HTML code -->
<div class="app-description">
	<strong>About the App</strong>
</div>
   
<body>
	Say something about the application here....
</body>
<br><br><br>
  
<!--start insert app feature images -->
<center>
<table border="0">
	<div id = "appimages">
		<tr>
			<td><img src="1tailored_pref.jpg" alt="App Feature 1" width="200" height="300"/></td>
      <td width="30"></td>
			<td><img src="2quantified_emissions.jpg" alt="App Feature 2" width="200" height="300"/></td>
      <td width="30"></td>
			<td><img src="3tools_and_guides.jpg" alt="App Feature 3" width="200" height="300"/> </td>
      <td width="30"></td>
			<td><img src="4social_norms.jpg" alt="App Feature 3" width="200" height="300"/> </td>
		</tr>
	</div>
<!-- end insert app feature images -->

<!-- start app feature description -->
	<tr>
		<td width="100" align="center">
			Put something about the feature of the application here. Put something about the feature here
		</td>
    <td width="30" ></td>
		<td width="100" align="center">
			Put something about the feature of the application here. Put something about the feature here
		</td>
    <td width="30" ></td>
		<td width="100" align="center">
			Put something about the feature of the application here. Put something about the feature here
		</td>
    <td width="30"></td>
		<td width="100" align="center">
			Put something about the feature of the application here. Put something about the feature here
		</td>
	</tr>
<!-- end app feature description -->	
</table>
</center>
   
<!-- put download buttons here for iOS and Android-->
<br><br>
<h1 style="text-align:center;">
<div class="app-description">
	<font size= "6" color="#57AB8B" align="middle">DOWNLOAD NOW! </font>
</div>
<p>
<center>
<table>
	<tr>
	<td>
		<a  href="https://play.google.com/store/apps/details?id=com.cleanbit.joulebug.pbj.bostonu" 
			target="store/apps/details?id=com.cleanbit.joulebug.pbj.bostonu">
			<img src="applebutton.png" width="150" height="150" border="0">
		</a>
	</td>
	<td width="30"></td>
	<td>
		<a  href="https://play.google.com/store/apps/details?id=com.cleanbit.joulebug.pbj.bostonu" 
			target="store/apps/details?id=com.cleanbit.joulebug.pbj.bostonu">
			<img src="androidbutton.png" width="150" height="150" border="0">
		</a>
	</td>
</table>
</center>
</p> 
</h1>
<html>
<center>
	<br>
	<!-- start search bar code -->
	<!-- comment out this code. change in the requirement
	<input type="text" id="myInput" maxlength="120" size="50" onkeyup="myFunction()" placeholder="Search for activities.." >
    <img src = "search_img.png" width="60" height="70" />
	--> 
	<!-- end search bar code -->
	<h1>
	<font size= "6" color="Black" align="middle">ACTIVITIES</font>
	</h1>
	<br>
	Below is the list of the activities categories. Please click on the link to see the list of suggested activities.
    <table border ="0">
		<ul id="myUL" >
    <br>
		<tr>
		<td>
      	<font size="5" > Benefits </font><br>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/financial_savings" 		target="financial_savings"> 		Financial Savings 			</a></li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/community_building" 		target="community_building">		Community Building 			</a></li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/better_health_and_well_being" target="better_health_and_well_being">	Better Health & Wellbeing	</a></li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/climate_impact" 			target="climate_impact">			Climate Impact				</a></li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/convenience" 				target="convenience">				Convenience					</a></li>
			<!-- changed target name to skill_acquisition -->
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/skill_acquisition" 		target="skill_acquisition">			Attaining New Skills		</a></li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/market_impact" 			target="market_impact">				Market Impact				</a></li>
		<br>
		</td>
		<td width="200"></td>
		<td>
  			<font size="5" > Sustainability</font>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/waste" 				target="waste"> 				Waste				</a></li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/consumer_power" 		target="consumer_power"> 		Consumer Power		</a></li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/food" 				target="food"> 					Food				</a></li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/water" 				target="water"> 				Water				</a></li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/transport" 			target="transport"> 			Transport			</a></li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/energy" 				target="energy"> 				Energy				</a></li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/resource_efficiency" 	target="resource_efficiency"> 	Resource Efficiency	</a></li><br>
		</td>
		</tr>
		<tr>
		<td>
			<font size="5" > Behavioural</font>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/habit" 				target="habit"> 			Habit				</a></li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/product_switch" 		target="product_switch"> 	Product Switch		</a></li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/skill_acquisition" 	target="skill_acquisition"> Skill Acquisition	</a></li>
			<br>
		</td>
		<td width="200"></td>
		<td>
			<font size="5" > Difficulty</font>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/difficulty_easy" 			target="difficulty_easy"> 			Easy			</a></li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/difficulty_intermediate2" target="difficulty_intermediate2"> 	Intermediate	</a></li>
			<li><a href="https://theneighbourhoodeffect.nationbuilder.com/difficulty_challenge" 	target="difficulty_challenge"> 		Challenge 		</a></li>
		</td>
		</tr>
		</ul>      
    </table>
</center>  
</html>
<!-- end of customized HTML code -->
<!-- start this is a default code upon creation of the page-->
  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}
<!-- end this is a default code upon creation of the page-->
</div>